certifi==2020.12.5
chardet==4.0.0
click==7.1.2
DAWG-Python==0.7.2
docopt==0.6.2
docxtpl==0.6.3
flash==1.0.3
Flask==1.1.2
Flask-Login==0.5.0
Flask-WTF==0.14.3
greenlet==1.0.0
idna==2.10
importlib-metadata==3.4.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
numpy==1.18.1
Pillow==7.0.0
pygame==2.0.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.3
python-docx==0.8.7
python-dotenv==0.14.0
python-pptx==0.6.18
requests==2.25.1
schedule==0.6.0
six==1.14.0
SQLAlchemy==1.4.0b3
typing-extensions==3.7.4.3
urllib3==1.26.3
Wave==0.0.2
Werkzeug==1.0.1
WTForms==2.3.3
XlsxWriter==1.2.8
yadisk==1.2.14
zipp==3.4.0
