{% extends "base.html" %}

{% block content %}
<h1>Добавленные книги</h1>
{% for item in news%}
 <style type="text/css">
   TD.leftcol {
    width: 180px; 
    vertical-align: top; 
   }
 </style>
    <div class="col-md6 border rounded">
    <table width="100%" cellspacing="0" cellpadding="0">
       <tr> 
        <td class="leftcol"><img src="{{item.pic_url}}" 
        width="150" height="180" alt="здесь должна была быть картинка, но не нашлась"></td>
        <td valign="top"> <h2> {{item.title}} </h2> <p> {{item.content}} </p>
        <p> Автор - {{item.author}}, Дата добавления - {{item.created_date}} </p> 
        </td>
       </tr>
   </table>
   {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
   {% endif %}
    </div>
    <p> </p>
{% endfor %}
{% endblock %}