{% extends "base.html" %}

{% block content %}
<h1 align="center">Добавленные книги</h1><br>
{% for item in books%}
 <style type="text/css">
   TD.leftcol {
    width: 180px; 
    vertical-align: top; 
   }
 </style>
    <div class="col-md6 border rounded">
    <table width="100%" cellspacing="0" cellpadding="0">
       <tr> 
        <td class="leftcol"><img src="{{item.pic_url}}" 
        width="155" height="200" alt="здесь должна была быть картинка, но не нашлась"></td>
        <td valign="top"> <h2> {{item.title}} </h2> <p> {{item.content}} </p>
        <p> Автор - {{item.author}}, Дата добавления - {{item.created_date}} </p> 
           <div>
           <a href="/book_page/{{ item.id }}"><right>Подробнее</right></a>
           </div>
        </td>
       </tr>
   </table>
   {% if current_user.is_authenticated and current_user == item.user %}
 
    <div>
        <a href="/book/{{ item.id }}" class="btn btn-outline-info btn-sm">
            Изменить
        </a>
        <a href="/book_delete/{{ item.id }}" class="btn btn-outline-danger btn-sm">
            Удалить
        </a>
    </div>
   {% endif %}
    </div>
    <p> </p>
{% endfor %}
{% endblock %}