{% extends "base.html" %}

{% block content %}
<style>
    p.url {
    width: 700px;
    word-break: break-all;
    }
</style>
 <p> </p>
      <a href="/" class="btn btn-outline-info btn-block">
        Назад
      </a> <br>
   <p style="text-align: center;"><img src="{{ok_pic}}" width="250" height="250" align="middle"
           alt="здесь должна была быть картинка, но не нашлась"></p>
   <p style="text-align: center; font-size: 18pt;"><a href=" {{ url }}" target="_blank">Скачать файл</a></p>

{% endblock %}